.outer-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #9d9d9d;

  .inner-container {
    width: 85%;

    display: flex;
    align-items: center;


    .img-container {
      display: flex;
      justify-content: center;
      align-content: center;
      width: 70px;

      img {
        border-radius: 15px;
        margin: 2px;
        height: 30px;
        width: 30px;
      }
    }

    .info {
      p {
        color: rgba(0, 0, 255, 0.74);
        font-weight: bolder;
      }
    }

    .rates-value {
      margin-left: auto;
      margin-right: 20px;

      .span-outer {
        display: inline-block;
        transition: all 1s linear;
        color: white;
        padding: 3px;
        border: black 0.5px solid;
        border-radius: 20px;
        text-align: center;
        width: 55px;
      }
    }
  }

}
