<div class="outer-container">
  <div class="inner-container">
    <section class="img-container">
      <img src="/assets/euro.png" alt="flag">
      <img src="/assets/{{rate.key}}.png" alt="flag">
    </section>
    <section class="info">
      <p>EUR / {{rate.key}}</p>
    </section>
    <section class="rates-value">
        <span class="span-outer" [ngStyle]="{'background-color': ratesColorClass ? 'green' : 'red' }"><span [@countAnimation]="rate.value">{{rate.value | number: '1.4-4'}}</span></span>
    </section>
  </div>
</div>
