.container {
  background-color: transparent;
  backdrop-filter: blur(2px);
  width: 600px;
  min-height: 400px;
  max-height: 600px;
  border: 1px solid #9d9d9d;
  border-radius: 20px;
  margin-top: 10px;
}
